mixin footer
    .footer
        .footer__nav
            // ".html" link
            // ".active" item modifier
            a.footer__nav-link.active
                .footer__nav-icon
                    img(src="images/footer/icon__main.svg")
                .footer__nav-text Главная
            // ".html" link
            a.footer__nav-link
                .footer__nav-icon
                    img(src="images/footer/icon__catalog.svg")
                .footer__nav-text Витрина
            // ".html" link
            // "--qr" item modifier
            a.footer__nav-link.footer__nav-link--qr
                .footer__nav-icon
                    img(src="images/footer/icon__qr.svg")
                .footer__nav-text Сканер
            // ".html" link
            a.footer__nav-link
                .footer__nav-icon
                    img(src="images/footer/icon__gift.svg")
                .footer__nav-text Подарки
            // ".html" link
            a.footer__nav-link
                .footer__nav-icon
                    img(src="images/footer/icon__account.svg")
                .footer__nav-text Аккаунт
