mixin header
    .header
        .header__logo
            img(src="images/logo.svg")
        a.header__button(href="#" onclick="document.getElementById('wrapper').style.display='none';document.getElementById('sidebar').style.display='block';")
            img(src="images/header/header__button.svg")
