mixin sidebar
    .sidebar__header
        .sidebar__header-logo
            img(src="images/sidebar/sidebar__logo.svg")
        a.sidebar__header-button(href="#" id="sidebarButton")
            img(src="images/sidebar/sidebar__button.svg")
    .sidebar__nav
        a.sidebar__nav-link(href="#") Магазины
        a.sidebar__nav-link(href="#") Еда
        a.sidebar__nav-link(href="#") Услуги и сервисы
        a.sidebar__nav-link(href="#") Развлечения
        a.sidebar__nav-link(href="#") Новости
